{% extends 'inicio.html' %}

{% load static %}

{% block title %} Respaldos de Seguridad | Laboratorio Dental {% endblock %}

{% block titulo %} Copias de Seguridad {% endblock %}

{% block content %}
<div class="ContentTable">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="d-flex" style="width: 100%;justify-content: space-between">
                    <form action="{% url 'dashboard' %}" method="get">
                        <button type="submit" class="btn btn-default btn-custom me-2"
                            aria-label="Regresar al tablero principal" data-tooltip="Regresar al tablero principal">
                            <i class="fas fa-arrow-left text-white"></i> <span> Volver </span>
                        </button>
                    </form>

                    <form method="post" action="{% url 'backup_create' %}" style="margin-bottom: 0;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-successII btn-custom" data-tooltip="Crear un nuevo respaldo">
                            <i class="fas fa-plus text-white"></i> <span> Crear Respaldo </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-container">
                <form id="filtroForm" method="get" action="{% url 'backup_list' %}">
                    <div class="row mb-3" style="width: 100%;">
                        <div>
                            <label for="fechaFiltro" class="form-label"
                                data-tooltip="Filtrar respaldos por fecha">Fecha</label>
                            <input type="date" id="fechaFiltro" name="fecha" class="form-control"
                                value="{{ fecha_filtro }}" data-tooltip="Filtrar por fecha">
                        </div>
                    </div>
                </form>

                <table id="elementosTable" class="table table-primary table-centered">
                    <thead>
                        <tr>
                            <th>Archivo</th>
                            <th>Fecha de Creación</th>
                            <th>Tamaño</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for backup in backups %}
                        <tr>
                            <td>{{ backup.filename }}</td>
                            <td>{{ backup.created_at }}</td>
                            <td>{{ backup.size }}</td>
                            <td>
                                <form action="{% url 'download_backup' backup.filename %}" method="get" class="btn"
                                    style="padding: 0rem;">
                                    <button type="submit" class="btn btn-successII"
                                        data-backup="{{ backup.filename }}" aria-label="Descargar {{ backup.filename }}"
                                        data-tooltip="Descargar {{ backup.filename }}">
                                        <i class="fas fa-download text-white"></i> <span> Descargar </span></button>
                                </form>
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#confirmRestoreModal" data-backup="{{ backup.filename }}"
                                    data-tooltip="Restaurar {{ backup.filename }}">
                                    <i class="fas fa-retweet text-white"></i> <span> Restaurar </span></button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeletionModal" data-backup="{{ backup.filename }}"
                                    data-tooltip="Eliminar {{ backup.filename }}">
                                    <i class="fas fa-trash text-white"></i> <span> Eliminar </span></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmDeletionModal" tabindex="-1" aria-labelledby="confirmDeletionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeletionModalLabel">Confirmar Eliminación</h5>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este respaldo?
                (<span id="deleteForm">
                    <input type="text" name="filename" id="deleteFile" style="min-width: 250px; width: fit-content;"
                        readonly>
                </span>)
                Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" action="{% url 'delete_backup' %}">
                    {% csrf_token %}
                    <input type="hidden" name="filename" id="deleteFile">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmRestoreModal" tabindex="-1" aria-labelledby="confirmRestoreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRestoreModalLabel">Confirmar Restauración</h5>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas restaurar la base de datos desde este archivo?
                (<span id="restoreForm">
                    <input type="text" name="backup_file" id="restoreFile" style="min-width: 250px; width: fit-content;"
                        readonly>
                </span>)
                Esta acción reemplazará la base de datos actual.
            </div>



            <div class="modal-footer">
                <form id="restoreForm" method="post" action="{% url 'restore_database' %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="backup_file" id="restoreFile">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Restaurar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/htmlBackupList.js' %}?v1.2"></script>
{% endblock %}