{% extends 'loginregister.html' %}

{% load static %}

{% block title %}Cambiar Contraseña | Laboratorio Dental{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/olvido_contrasena.css' %}?v1.8">
{% endblock %}

{% block content %}
<div class="center">
    <h1 class="opacity">RESTABLECER CONTRASEÑA</h1>
    <div class="icon" data-tooltip="Correo enviado exitosamente">
        <i class="fas fa-lock"></i>
    </div>
    <form class="login-form" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
        {{ form.email }}
        {{ form.documento.errors }}
        <label for="{{ form.documento.id_for_label }}">Número de documento:</label>
        {{ form.documento }}
        <div class="button-container">
            <button type="button" data-url="{% url 'loginregister' %}" class="btn-back"
                onclick="window.location.href=this.getAttribute('data-url');"
                data-tooltip="Regresa a la página de inicio de sesión">Volver</button>
            <input type="submit" name="Enviar" value="Enviar" class="login-submit" />
        </div>

    </form>
</div>
{% endblock %}