{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contraseña restablecida</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/contraseña_restable.css' %}?v1.3"/>
</head>
<body>
  <div class="container">
    <div class="icon" data-tooltip="¡Tu contraseña ha sido restablecida exitosamente!">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green">
        <path d="M12 2a10 10 0 100 20 10 10 0 000-20zm-1 15l-4-4 1.41-1.41L11 14.17l5.59-5.59L18 10l-7 7z"/>
      </svg>
    </div>
    <h2 data-tooltip="Tu cuenta está ahora más segura">Contraseña renovada</h2>
    <p data-tooltip="Mantén tu nueva contraseña en un lugar seguro">Tu seguridad es tan importante como tu sonrisa.</p>
    <a href="{% url 'loginregister' %}" role="button" data-tooltip="Haz clic para ir a la página de inicio de sesión">Iniciar Sesión</a>
  </div>
  <script src="{% static 'js/tooltips.js' %}?v1.7"></script>
</body>
</html>