{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- Google fonts -->
<link rel="stylesheet" href="{% static 'css/olvido_contrasena.css' %}?v1.7">
<link rel="stylesheet" href="{% static 'css/custom.css' %}?v1.1">
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Resetear Contraseña</title>
</head>

<body class="dark_mode">
    <section class="container">
        <div class="login-container">
            <h1 class="opacity">RESTABLECER CONTRASEÑA</h1>
            <form class="login-form" method="post">
                {% csrf_token %} 
                <p class="login-text">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lock fa-stack-1x"></i>
                    </span>
                </p>
                {{ form.non_field_errors }}
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
                {{ form.email }}
                {{ form.documento.errors }}
                <label for="{{ form.documento.id_for_label }}">Número de documento:</label>
                {{ form.documento }}
                <input type="submit" name="Enviar" value="Enviar" class="login-submit" />
            </form>
            <div class="video-background">
                <video autoplay loop muted>
                    <source src="{% static 'img/fondo.mp4' %}" type="video/mp4">
                </video>
            </div>
        </div>
    </section>
    <div class="dark-mode-toggle" id="darkModeToggle">
        <i class="fas fa-moon"></i> <!-- Icono de luna para el modo oscuro -->
    </div>
</body>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dark_mode.js' %}?v1.7"></script>
<script src="{% static 'js/sienna.js' %}?v1.2"></script>
<script src="{% static 'js/custom.js' %}?v1.2"></script>
{% endblock %}
