{% extends 'loginregister.html' %}

{% load static %}

{% block title %}Cambiar Contraseña | Laboratorio Dental{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contraseña_restable.css' %}?v1.3" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="icon" data-tooltip="¡Tu contraseña ha sido restablecida exitosamente!">
    <i class="fa fa-check-circle" style="color: green;"></i>
  </div>
  <h2 data-tooltip="Tu cuenta está ahora más segura">Contraseña renovada</h2>
  <p data-tooltip="Mantén tu nueva contraseña en un lugar seguro">Tu seguridad es tan importante como tu sonrisa.</p>
  <a href="{% url 'loginregister' %}" role="button"
    data-tooltip="Haz clic para ir a la página de inicio de sesión">Iniciar Sesión</a>
</div>
{% endblock %}
