{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Correo enviado</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/correo_enviado.css' %}?v1.5">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}?v1.1">
        <link rel="stylesheet" href="{% static 'css/dark_mode.css' %}?v2.1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body class="dark-mode">
  <div class="container">
    <div class="icon" data-tooltip="Correo enviado exitosamente">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
            <path d="M20.8,4H3.2C2.54,4,2,4.54,2,5.2v13.6C2,19.46,2.54,20,3.2,20h17.6c0.66,0,1.2-0.54,1.2-1.2V5.2 C22,4.54,21.46,4,20.8,4z M20,8.24l-8,5.36l-8-5.36V6l8,5.36L20,6V8.24z"/>
        </svg>
    </div>
    <h2 class="titulo" data-tooltip="Tu solicitud ha sido procesada">Correo enviado con éxito</h2>
    <p class="mensaje" data-tooltip="Sigue las instrucciones en tu correo electrónico">¡Revisa tu correo electrónico para obtener instrucciones y recuperar el acceso a tu cuenta de forma segura!</p>
    <a href="{% url 'loginregister' %}" class="btn-volver" data-tooltip="Regresa a la página de inicio de sesión">Volver</a>
  </div>
  <div class="dark-mode-toggle" id="darkModeToggle">
    <i class="fas fa-moon"></i> <!-- Icono de luna para el modo oscuro -->
    </div>

  <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  <!-- Custom tooltips script -->
  <script src="{% static 'js/tooltips.js' %}"></script>
  <script src="{% static 'js/dark_mode.js' %}?v1.5"></script>
        <script src="{% static 'js/sienna.js' %}?v1.2"></script>
        <script src="{% static 'js/custom.js' %}?v1.2"></script>
</body>
</html>