{% extends 'loginregister.html' %}

{% load static %}

{% block title %}Cambiar Contraseña | Laboratorio Dental{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/olvido_contrasena.css' %}?v1.8">
{% endblock %}

{% block content %}
<div class="center">
  <div class="login-form" style="margin-top: -60px; width: 50rem;">
    <div class="icon" data-tooltip="¡Tu contraseña ha sido restablecida exitosamente!">
      <i class="fa fa-check-circle"></i>
    </div>
    <h2 data-tooltip="Tu cuenta está ahora más segura">Contraseña renovada</h2>
    <p data-tooltip="Mantén tu nueva contraseña en un lugar seguro">Tu seguridad es tan importante como tu sonrisa.</p>
    <div class="button-container" style="display: flex; justify-content: center; ">
      <button type="button" data-url="{% url 'loginregister' %}" class="btn-back"
        onclick="window.location.href=this.getAttribute('data-url');"
        data-tooltip="Haz clic para ir a la página de inicio de sesión">Iniciar Sesión</button>
    </div>
  </div>
</div>
{% endblock %}