{% extends 'loginregister.html' %}

{% load static %}

{% block title %}Cambiar Contraseña | Laboratorio Dental{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/olvido_contrasena.css' %}?v1.8">
{% endblock %}

{% block content %}
<div class="center">
  <div class="login-form" style="margin-top: -60px;">
    <div class="icon" data-tooltip="Correo enviado exitosamente">
      <i class="fas fa-envelope" style="color: white;"></i>
    </div>
    <h1 class="titulo" style="margin-top: 0; margin-bottom: 0;" data-tooltip="Tu solicitud ha sido procesada">Correo enviado con éxito
    </h1>
    <label class="mensaje" data-tooltip="Sigue las instrucciones en tu correo electrónico">¡Revisa tu correo electrónico
      para
      obtener instrucciones y recuperar el acceso a tu cuenta de forma segura!</label>
    <div class="button-container" style="display: flex; justify-content: center; ">
      <button type="button" data-url="{% url 'loginregister' %}" class="btn-back"
        onclick="window.location.href=this.getAttribute('data-url');"
        data-tooltip="Regresa a la página de inicio de sesión">Volver</button>
    </div>
  </div>

</div>
{% endblock %}
