{% extends 'inicio.html' %}

{% load static %}

{% block title %}Reagendar Cita | Laboratorio Dental{% endblock %}

{% block titulo %}
<a href="{% url 'listcitas' %}" data-tooltip="Ver todas las citas agendadas">Citas Agendadas</a>&gt;
<span data-tooltip="Modificar los detalles de una cita existente">Editar Cita Agendada</span>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/crear_citas.css' %}?v3.5">
{% endblock %}

{% block content %}
<div class="ContentX">
  <h4 style="color: black;" data-tooltip="Formulario para modificar los detalles de la cita">Editar Cita</h4>
  {% include 'formscitas.html' %}<br>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/citas.js' %}?v2.9"></script>
{% endblock %}
