.card-header, .card-body {
    background-color: #f8f8f8;
}

.p-4{
    padding: 30px !important;
}

.card{
    border-radius: 12px;
}

.dark-mode .card-body {
    background-color: transparent;
}

.dark-mode .p-4{
    padding: 30px !important;
}

.dark-mode .card{
    background-color: #2a2a2a;
    border-radius: 12px;
}