.input-wrapper {
  margin-bottom: 20px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.form-inner{
  width: 100%;
}

.form-control {
  width: 70%;
  padding: 10px 40px 10px 24px;
  border: none;
  border-bottom: 2px solid #000000;
  background: none;
  font-weight: 700;
  transition: 0.2s;
}

.form-control:focus {
  border-bottom-color: #000000;
  outline: none;
}

#password-requirements {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
}

#password-requirements ul {
  list-style-type: none;
  padding-left: 0;
}

#password-requirements li {
  margin-bottom: 5px;
}

.text-danger {
  font-weight: bold;
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

#password-requirements li.text-success {
  font-weight: bold;
  font-size: 14px;
  color: rgb(0, 255, 0);
}

#password-requirements li.text-danger {
  font-weight: bold;
  font-size: 14px;
  color: rgb(255, 54, 54);
}

#togglePassword,
#toggleConfirmPassword {
  right: 10px;
  top: 50%;
  background: #3b3b3b;
  border: #252525;
  cursor: pointer;
  width: 25%;
}
.input-group {
  position: relative;
}

.input-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.input-group input[type="password"],
.input-group input[type="text"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
