.asw-menu-btn {
    background-color: #2d2c2b !important;
}

.asw-menu-header {
    background: #CAB97D !important;
    color: #fff;
}

.asw-footer {
    background: #CAB97D !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #CAB97D !important;
    color: #fff;
}