.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode a {
  text-decoration: none;
  color: #ffffff;
}

.dark-mode a:hover {
  color: #9adfff;
}

.dark-mode .btn {
  background-color: #646464;
  color: #ffffff;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h5,
.dark-mode h6 {
  color: #ffffff;
}

.dark-mode table {
  border-color: #c4c4c4;
}

.dark-mode th,
.dark-mode td {
  background-color: #646464;
  color: #ffffff;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select {
  background-color: #646464;
  border-color: #c4c4c4;
  color: #ffffff;
}


.dark-mode .navbar ul li a {
  color: #ffffff;
}

.dark-mode #mainNav.navbar-shrink {
    background-color: #121212;
  }

.dark-mode .navbar ul li a:hover {
  color: #9adfff;
}

.dark-mode .masthead {
  background-color: #646464;
}

.dark-mode .page-section {
  background-color: #414141;
}

.dark-mode .card {
  background-color: #2a2a2a;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.dark-mode .ContentX {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .citaFormII {
  background-color: #2a2a2a;
  color: #ffffff;
}

.dark-mode .container-fluid {
  background-color: #0000;
  border-color: #0000;
  color: #ffffff;
}

.dark-mode .container1 {
  background-color: #0000;
  border-color: #0000;
  color: #ffffff;
}

.dark-mode .section-heading text-uppercase {
  background-color: #0000;
  border-color: #0000;
  color: #ffffff;
}

.dark-mode #portfolio {
  background-color: #414141;
  border-color: #414141;
  color: #ffffff;
}

.dark-mode .container1 {
  background-color: #414141;
  color: #ffffff;
}

.dark-mode .portfolio-link {
  color: #ffffff;
}


.dark-mode .portfolio-item img {
  filter: brightness(0.8) !important;
}

.dark-mode .portfolio-caption {
  background-color: transparent !important;
  color: #ffffff !important;
}


.dark-mode .portfolio-item img {
  filter: brightness(0.8) !important;
}

.dark-mode .text-muted {
  color: #ffffff;
}

.dark-mode .flatpickr-input[readonly] {
  cursor: pointer;
  background: #1b1b1b;
  color: white;
}

.dark-mode .row {
  background-color: transparent;
  color: #ffffff;
}

.dark-mode .alert {
  background-color: #646464;
  border-color: #414141;
  color: #ffffff;
}

.dark-mode body {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .modal-content {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .btn-primary {
  background-color: #3a3a3a;
  color: white;
}

.dark-mode .close-modal i {
  color: #e0e0e0;
}

.dark-mode .img-fluid {
  filter: brightness(0.8);
}

.dark-mode .span {
  background-color: #646464;
  border-color: #414141;
  color: #ffffff;
}

.dark-mode .fa-circle {
  color: #333 !important;
}

.dark-mode .fa-inverse {
  color: #ccc !important;
}

.dark-mode h4,
.dark-mode p {
  color: #fff !important;
}

.dark-mode .text-muted {
  color: #aaa !important;
}

.dark-mode .masthead {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/protesis.1.jpg');
}

.dark-mode-toggle {
  position: fixed;
  bottom: 80px;
  right: 19px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.dark-mode-toggle i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.dark-mode .container2 {
  background: #1e1e1e;
  border: 1px solid #444;
}

.dark-mode .citaForm{
  background-color: #1e1e1e;
  padding: 20px 40px;
  border-radius: 10px;
}

.dark-mode .input {
  background: #333;
  color: #fff;
}

.dark-mode .input:focus {
  border-color: #2a2b2c;
}

.dark-mode .button {
  background: #141413;
}

.dark-mode h1 {
  color: #ffffff;
}

.dark-mode .a {
  color: #fff;
}

.dark-mode .overlay {
  background: #333;
  color: #fff;
}

.dark-mode .overlay-right {
  background: #333;
  color: #fff;
}

.dark-mode .overlay-left {
  background: #333;
  color: #fff;
}

.dark-mode .container2.right-panel-active .sign-int {
  background: #333;
  color: #fff;
}

.dark-mode .container2.right-panel-active .overlay-container {
  background: #333;
  color: #fff;
}

.dark-mode .masthead {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/protesis.1.jpg') !important;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 80px;
  right: 19px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 0;
  margin: 0;
  font-size: 24px;
  z-index: 1000;
}

.dark-mode-toggle i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.dark-mode-toggle:hover {
  transform: scale(1.1);
}

.dark-mode .dashboard-containerII {
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.dark-mode .add {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode .middContent {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode #calendar {
  background-color: #2a2a2a;
  color: #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.dark-mode .citas {
  background-color: #2a2a2a;
  border: 2px solid #a8a8a8;
}

.dark-mode .citas h3 {
  color: #e0e0e0;
}

.dark-mode .citas li {
  background-color: #707070;
  color: #e0e0e0;
  border: 1px solid #9b9b9b;
}

.dark-mode .citas li strong {
  color: #9adfff;
}

.dark-mode .citas li .fecha-hora {
  color: #c0c0c0;
}

.dark-mode .citas p {
  color: #d0d0d0;
}

.dark-mode .button-grid {
  background-color: #1e1e1e;
}


.dark-mode .dashboard-containerII {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode #calendar {
  background-color: #2b2b2b;
  color: #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.dark-mode .citas h3 {
  color: #e0e0e0;
}

.dark-mode .citas li {
  background-color: #707070;
  color: #e0e0e0;
  border: 1px solid #9b9b9b;
}

.dark-mode .citas li strong {
  color: #9adfff;
}

.dark-mode .citas li .fecha-hora {
  color: #c0c0c0;
}

.dark-mode .citas p {
  color: #d0d0d0;
}

.dark-mode .button-grid {
  background-color: #1e1e1e;
}

.dark-mode .dashboard-button {
  background-color: #2a2a2a;
  color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.dark-mode .button-grid::-webkit-scrollbar {
  background-color: #2a2a2a;
}

.dark-mode .button-grid::-webkit-scrollbar-thumb {
  background-color: #777777;
}

.dark-mode .button-grid::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

.dark-mode .button-icon {
  background-color: #777777;
}

.dark-mode .button-text h3 {
  color: #e0e0e0;
}

.dark-mode .button-text p {
  color: #c0c0c0;
}

.dark-mode .fc-scrollgrid {
  --scrollbar-background-color: #1e1e1e;
  --scrollbar-thumb-background-color: #808080;
  --scrollbar-track-background-color: #2b2b2b;
}

.dark-mode .fc-scroller::-webkit-scrollbar {
  background-color: #1e1e1e;
}

.dark-mode .fc-scroller::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.dark-mode .fc-scroller::-webkit-scrollbar-track {
  background-color: #2b2b2b;
}

.dark-mode .fc-daygrid-day-number {
  color: #e0e0e0;
}

.dark-mode .fc-col-header-cell-cushion {
  color: #e0e0e0;
}

.dark-mode .no-citas-message {
  color: #c0c0c0;
}

.dark-mode .grid-container {
    background-color: var(--dark-grid-background-color);
}

.dark-mode .grid-item label {
    color: var(--dark-primary-color);
}

.dark-mode #btn {
    background-color: var(--dark-background-color) !important;
    color: #fff !important;
}

.dark-mode .status {
    color: #999;
}

.dark-mode .card-title,
.dark-mode .name,
.dark-mode .form-label {
    color: #ffffff;
    background-color: transparent;
}

.dark-mode .form-control,
.dark-mode .form-select {
    background-color: #1b1b1b;
    color: #ffffff;
    border-color: #444444;
}

.dark-mode .table td {
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.dark-mode .line {
    background-color: #444444;
}

.dark-mode .profile-btn-success {
    background-color: #3b3b3b;
    color: #ffffff;
}

.dark-mode .btn-primary:hover,
.dark-mode .profile-btn-success:hover {
    background-color: #2c2c2c;
}

.dark-mode .close {
    color: #ffffff;
}

.dark-mode .close:hover,
.dark-mode .close:focus {
    color: #cccccc;
}

.dark-mode .status.active {
    color: #2ecc71;
}

.dark-mode .table {
    color: #ffffff;
    background-color: #333333;
}

.dark-mode .table th {
    background-color: #222222;
}

.dark-mode .headersup {
  background-color: #1a1a1a;
}

.dark-mode .headerinf {
  background-color: #272727;
}

.dark-mode .table thead th {
  background-color: #2a2a2a;
  color: #ffffff;
}

.dark-mode .table tbody tr:nth-child(even) {
  background-color: #2a2a2a;
  color: #ffff;
}

.dark-mode .table tbody tr:hover {
  background-color: #3b3b3b;
  color: #ffff;
}

.dark-mode .btn-warning {
  background-color: #3a3a3a;
  color: #ffff;
}

.dark-mode btn .btn-warning {
  background-color: #070707;
}

.dark-mode .card-header,
.dark-mode .card-body {
  background-color: #1e1e1e;
}

.dark-mode .flatpickr-calendar animate {
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.dark-mode .pagination a {
  color: #e0e0e0;
}

.dark-mode .pagination {
  color: #e0e0e0;
}

.dark-mode .table-container {
  color: #ffffff;
  background-color: #2a2a2a;
  border-radius: 10px;
}

.dark-mode #filtroForm {
  background-color: #2a2a2a;
  color: #ffffff;
}

.dark-mode .col-lg-8 .text-lg-start {
  background-color: rgb(34, 34, 34);
  color: #ffffff;
}

.dark-mode .nav .button {
  background-color: #2a2a2a;
  color: #ffffff;
}

.dark-mode input[type="submit"],
.dark-mode .btn-success{
    background-color: #3a3a3a;
    color: #e0e0e0;
}

.dark-mode .btn-success:hover {
  border-color: #ddd;
  color: #e0e0e0;
  background-color: rgba(58, 58, 58, 0.7);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(35, 165, 104, 0.7);
}

.dark-mode .btn-successII{
    background-color: #3a3a3a;
    color: #e0e0e0;
}

.dark-mode .btn-successII:hover {
  border-color: #ddd;
  color: #e0e0e0;
  background-color: rgba(58, 58, 58, 0.7);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(202, 185, 125, 0.7);
}

.dark-mode .btn-info {
  background-color: #3a3a3a;
  color: #ffffff;
}

.dark-mode .btn-info:hover {
  border-color: #ddd;
  color: #e0e0e0;
  background-color: rgba(58, 58, 58, 0.7);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px #0dd8ff;
}

.dark-mode .btn-danger {
    background-color: #3a3a3a;
    color: #ffffff;
    font-weight: 600;
    border-color: #ddd;
}

.dark-mode .btn-danger:hover {
  background-color: rgba(58, 58, 58, 0.7);
  transform: translateY(-2px);
  color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(220, 53, 69, 0.7);
}

.dark-mode .btn-default {
    background-color: #3a3a3a;
    color: #ffffff;
    font-weight: 600;
    border-color: #ddd;
}

.dark-mode .btn-default:hover {
  background-color: rgba(58, 58, 58, 0.7);
  transform: translateY(-2px);
  color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.dark-mode .footer {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .col-lg-8 {
  background-color: rgb(18, 18, 18);
  color: #ffffff;
}

.dark-mode .text-lg-start {
  background-color: rgb(18, 18, 18);
  color: #ffffff;
}

.dark-mode .br {
  color: #ffffff;
}

.dark-mode .form-control::placeholder,
.dark-mode .form-select::placeholder {
    color: #a0a0a0;
}

.dark-mode .form-control:focus,
.dark-mode .form-select:focus {
    border-bottom: 2px solid var(#ffffff);
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.4);
    background: rgba(60, 60, 60, 0.8);
}

.dark-mode .btn-guardar,
.dark-mode .btn-volver {
    border: 2px solid var(#ffffff);
}

.dark-mode .btn-guardar {
    background-color: var(#ffffff);
    color: #000000;
}

.dark-mode .btn-volver {
    background-color: var(#b8860b);
    color: #ffffff;
}

.dark-mode .btn-guardar:hover {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .btn-volver:hover {
    background-color: #daa520;
    color: #000000;
}

.dark-mode .cita-hora-grid {
    background: var(#2d2d2d);
    padding: 10px;
    border-radius: 8px;
}

.dark-mode .cita-hora-boton {
    background-color: #4a4a4a;
    border: 1px solid #ffffff;
    color: #f0f0f0;
}

.dark-mode .cita-hora-boton:hover,
.dark-mode .cita-hora-boton:focus,
.dark-mode .cita-hora-boton-seleccionado {
    background-color: var(#ffffff);
    color: #000000;
}

.dark-mode .citaFormIIHeader {
  background-color: #2a2a2a;
}
.dark-mode .citaFormIILeft {
  background-color: #2a2a2a;
}
.dark-mode .citaFormIIRight {
  background-color: #2a2a2a;
}

.dark-mode .form-group label{
  color: #ffffff;
}

.dark-mode .form-group select {
  background-color: #1b1b1b;
  color: #ffffff;
}

.dark-mode .flatpickr-calendar.inline {
    background: #4a4a4a;
}

.dark-mode .flatpickr-current-month .flatpickr-monthDropdown-months{
  background: transparent;
  color: #ffffff;
  font-weight: 600;
}

.dark-mode .flatpickr-current-month input.cur-year{
  color: #ffffff;
  font-weight: 600;
}

.dark-mode .flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.1);
}

.dark-mode .flatpickr-day{
  color: #ffffff;
}

.dark-mode span.flatpickr-weekday{
  font-weight: 600;
  color: white;
}

.dark-mode input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.dark-mode input[type="time"]::-moz-placeholder {
    color: #fff;
}

.dark-mode input[type="time"] {
    color: #fff;
    background-color: #1b1b1b;
}

.dark-mode input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.dark-mode input[type="date"]::-moz-placeholder {
    color: #fff;
}

.dark-mode input[type="date"] {
    color: #fff;
    background-color: #1b1b1b;
}