.icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  background-color: #3477ce;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
  z-index: 9999;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 104, 172, 0.6);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(52, 119, 206, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 119, 206, 0);
  }
}

.icon svg {
  font-size: 27px;
  fill: #ffffff;
}

@media (max-width: 768px) {
  .icon {
    width: 60px;
    height: 60px;
  }

  .icon svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .icon {
    width: 50px;
    height: 50px;
  }

  .icon svg {
    width: 25px;
    height: 25px;
  }
}

.dark-mode .icon {
  background-color: #414141;
  /* Gris más oscuro */
  border-color: #8a8a8a;
  /* Gris suave */
  color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  color: #ffffff;
  /* Gris oscuro para el título */
}

.login-text {
  text-align: center;
  margin-bottom: 2rem;
  color: #444;
  /* Gris más suave */
}

.login-form {
  background-color: transparent;
  /* Gris intermedio */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form label {
  font-size: 1.1rem;
  color: #e0e0e0;
}

.login-form input {
  padding: 0.75rem;
  border: 2px solid #cccccc;
  /* Gris claro */
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #f4f4f4;
  /* Gris claro con leve opacidad */
  transition: border-color 0.3s ease-in-out;
}

.login-form input:focus {
  border-color: rgb(172, 158, 80);
  /* Mantener color dorado al focus */
  outline: none;
  background-color: #eaeaea;
  /* Gris aún más claro */
}

button,
input[type="submit"] {
  padding: 0.75rem;
  border: 2px solid #cccccc;
  /* Gris suave */
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  width: 48%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover,
input[type="submit"]:hover {
  background-color: rgb(172, 158, 80);
  /* Color dorado en hover */
  color: white;
  border-color: rgb(172, 158, 80);
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.opacity {
  opacity: 0.85;
}

/* Modo oscuro */
.dark-mode {
  background-color: #121212;
  /* Fondo oscuro */
  color: white;
}

.dark-mode h1 {
  color: #ececec;
}

.dark-mode .login-form {
  background-color: transparent;
  /* Gris oscuro más intenso */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode .login-form label,
.dark-mode .login-form input {
  color: #ccc;
  /* Gris claro para texto */
}

.dark-mode .login-form input {
  background-color: #333;
  /* Gris oscuro de fondo para inputs */
  border-color: #555;
  /* Gris suave en borde */
}

.dark-mode .login-form input:focus {
  border-color: rgb(172, 158, 80);
  background-color: #444;
  /* Gris más oscuro al focus */
}

.dark-mode button,
.dark-mode input[type="submit"] {
  border-color: #555;
  /* Gris intermedio para los botones */
  color: #ccc;
}

.dark-mode button:hover,
.dark-mode input[type="submit"]:hover {
  background-color: rgb(172, 158, 80);
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}