@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  display: flex;
  overflow: hidden;
}

input {
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.992);
  }
  
  &:focus {
    outline: 0 transparent solid;
    
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.login-container {
  position: absolute; /* Para que los elementos absolutos se posicionen respecto a este contenedor */
  top: 20%; /* Mueve el contenedor hacia la mitad de la pantalla */
  left: 35%;
  width: 100%;
  max-width: 400px; /* Cambia el ancho máximo del contenedor */
  margin: auto; /* Centra el contenedor */
  padding: 2.5rem; /* Agrega un poco de espacio interno */
  background: rgba(61, 61, 61, 0.9); /* Fondo semitransparente */
  border-radius: 8px; /* Bordes redondeados */
  color: white;
  text-align: center;
}

.login-form {
  min-height: 10rem;
  margin: auto;
  padding: 1rem;
}

.fa-stack-2x {
    color: white; /* Cambia el color del círculo a blanco */
}

.login-text {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
}



.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem auto;;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);

  &:focus {
    background:  rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 250ms background ease-in;
  }
}

.login-forgot-pass {
  color: white;
  cursor: pointer;
  font-size: 75%;
  opacity: 0.6;
  text-align: center;
  display: block;
  
  &:hover {
    opacity: 1;
  }
}

.login-submit {
  border: 3px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 2rem auto;
  padding: .50rem;
  transition: 250ms background ease-in;
  
  &:hover, &:focus {
    background:  rgb(172, 158, 80);
    color: rgb(255, 255, 255);
    transition: 250ms background ease-in;
  }
}

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}


.underlay-black {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el modo oscuro */
.dark-mode .login-container {
  background-color: #444;
  border-color: #444;
  color: white;
}
.dark-mode .fa-stack {
  background-color: #444;
  border-color: #444;
  color: white;
}

.dark-mode h2 {
    color: #fff; /* Color del encabezado en modo oscuro */
}

.dark-mode .form-control {
    background-color: #333; /* Fondo de los campos de entrada en modo oscuro */
    border: 1px solid #555; /* Borde de los campos de entrada en modo oscuro */
    color: #fff; /* Color de texto en los campos de entrada en modo oscuro */
}

.dark-mode .form-control:focus {
    border-color: #007bff; /* Mantener color de borde azul en modo oscuro */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Sombra azul al hacer foco en modo oscuro */
}

.dark-mode .btn-primary {
    background-color: #333; /* Botón en modo oscuro */
}

.dark-mode .btn-primary:hover {
    background-color: #333; /* Color de fondo al pasar el cursor en modo oscuro */
}
.dark-mode-toggle {
    position: fixed;
    bottom: 80px;
    right: 19px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;  
    padding: 0;
    margin: 0;
    font-size: 24px;
  }
  
  .dark-mode-toggle i {
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
  }
  
  .dark-mode-toggle:hover {
    transform: scale(1.1);
  }
