body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.politicas-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1,
h2 {
    color: #333;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
}