:root {
    --primary-color: #bb9708;
    --secondary-color: #8b7004a6;
    --text-color: #020202;
    --background-color: #fdfcf911;
    --grid-background-color: #f3f1e9;
    --highlight-color: #691511;
    --border-color: #333;
    --dark-background-color: #121212;
    --dark-text-color: #e0e0e0;
    --dark-grid-background-color: #1f1f1f;
    --dark-primary-color: #bb9708;
    --dark-secondary-color: #8b7004a6;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    margin: 30px auto;
}

main::-webkit-scrollbar {
    display: none;
}

h4 {
    font-size: 30px;
    color: #0c0c0b;
    margin-bottom: 10px;
    border-bottom: 4px solid var(--primary-color);
    padding-bottom: 5px;
    font-weight: bold;
}

.seccion {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: var(--grid-background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 18px;
}

.grid-item label {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.grid-item span {
    color: #333;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid transparent;
}


.btn-primary {
    background-color: var(--border-color);
    border: 2px solid var(--text-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--highlight-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(255, 59, 48, 0.3);
}

@media print {
    .no-print {
        display: none;
    }
}