{% extends 'inicio.html' %}

{% load static %}

{% block title %}Correos | Laboratorio Dental{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gmail.css' %}?v1.4">
{% endblock %}

{% block titulo %}
Gmail - Correos
{% endblock %}

{% block content %}

<div class="email-container">
    <div class="card inbox">
        <div class="card-body">
            <h4 class="card-title" data-tooltip="Ver correos recibidos">Bandeja de Entrada</h4>
            <ul>
                {% for email in email_list %}
                <li>
                    <h5 class="mb-1" data-tooltip="Asunto del correo">{{ email.snippet }}</h5>
                    <p class="mb-1" data-tooltip="Contenido del correo">{{ email.subject }}</p>
                </li> <br>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card compose-email">
        <div class="card-body">
            <h4 class="card-title" data-tooltip="Redactar un nuevo correo">Enviar Nuevo Correo</h4>
            <form method="post" action="{% url 'send_email' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="to" data-tooltip="Ingrese la dirección de correo del destinatario">Para:</label>
                    <input type="email" class="form-control" id="to" name="to" required
                        data-tooltip="Ingrese la dirección de correo del destinatario">
                </div>
                <div class="form-group">
                    <label for="subject" data-tooltip="Ingrese el asunto del correo">Asunto:</label>
                    <input type="text" class="form-control" id="subject" name="subject" required
                        data-tooltip="Ingrese el asunto del correo">
                </div>
                <div class="form-group">
                    <label for="body" data-tooltip="Escriba el contenido del correo">Mensaje:</label>
                    <textarea class="form-control" id="body" name="body" rows="5" required
                        data-tooltip="Escriba el contenido del correo"></textarea>
                </div>
                <a class="btn btn-warning" href="{% url 'dashboard' %}" role="button"
                    data-tooltip="Regresar al panel principal">Volver</a>
                <button type="submit" class="btn btn-primary" data-tooltip="Enviar el correo">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
