{% extends 'inicio.html' %}

{% load static %}

{% block title %}Crear Cuenta | Laboratorio Dental{% endblock %}

{% block titulo %}
<a href="{% url 'listcuentas' %}" data-tooltip="Ver lista de pacientes registrados"> Pacientes Registrados </a>&gt;
Crear Cuenta de Paciente
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cuentas.css' %}?v2.2">
{% endblock %}

{% block content %}
<div class="card">
    <form enctype="multipart/form-data" method="POST" class="form">
        <h4 class="card-title" data-tooltip="Ingrese los datos del paciente aquí">Datos Paciente</h4>
        {% include 'formscuentas.html' %}
    </form>
</div>
{% endblock %}
